<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    <h1>My First Django Project!</h1>
    {% for pfl in profile %}
    <h1>{{ pfl.name }}</h1>
    <h3>{{ pfl.age }}</h3>
    <h4>{{ pfl.address }}</h4>
    <img src="{{ pfl.image.url }}" alt="Image" width ="500px">
    <hr>

    {% endfor %}
</body>
</html>